In [1]:
# Import pandas
import pandas as pd

In [2]:
# Assign file links to variables
may_17 = "JC-201705-citibike-tripdata.csv"
june_17 = "JC-201706-citibike-tripdata.csv"
july_17 = "JC-201707-citibike-tripdata.csv"

may_18 = "JC-201805-citibike-tripdata.csv"
june_18 = "JC-201806-citibike-tripdata.csv"
july_18 = "JC-201807-citibike-tripdata.csv"

may_19 = "JC-201905-citibike-tripdata.csv"
june_19 = "JC-201906-citibike-tripdata.csv"
july_19 = "JC-201907-citibike-tripdata.csv"

In [3]:
# Create DFs
may_17_df = pd.read_csv(may_17)
june_17_df = pd.read_csv(june_17)
july_17_df = pd.read_csv(july_17)

may_18_df = pd.read_csv(may_18)
june_18_df = pd.read_csv(june_18)
july_18_df = pd.read_csv(july_18)

may_19_df = pd.read_csv(may_19)
june_19_df = pd.read_csv(june_19)
july_19_df = pd.read_csv(july_19)

In [4]:
# Add a month column to the DFs
may_17_df["month"] = "May"
june_17_df["month"] = "June"
july_17_df["month"] = "July"

may_18_df["month"] = "May"
june_18_df["month"] = "June"
july_18_df["month"] = "July"

may_19_df["month"] = "May"
june_19_df["month"] = "June"
july_19_df["month"] = "July"

In [5]:
# Add a month year column to the DFs also just in case 
may_17_df["month year"] = "May 2017"
june_17_df["month year"] = "June 2017"
july_17_df["month year"] = "July 2017"

may_18_df["month year"] = "May 2018"
june_18_df["month year"] = "June 2018"
july_18_df["month year"] = "July 2018"

may_19_df["month year"] = "May 2019"
june_19_df["month year"] = "June 2019"
july_19_df["month year"] = "July 2019"

In [6]:
# Stack the DFs to create the summers
summer_17_df = pd.concat([may_17_df, june_17_df, july_17_df])
summer_18_df = pd.concat([may_18_df, june_18_df, july_18_df])
summer_19_df = pd.concat([may_19_df, june_19_df, july_19_df])

# Clean and mung the City Bike data for Summer of 2017

In [7]:
# Check DF
summer_17_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,month,month year
0,347,2017-05-01 00:03:19,2017-05-01 00:09:06,3276,Marin Light Rail,40.714584,-74.042817,3214,Essex Light Rail,40.712774,-74.036486,26177,Subscriber,1958.0,1,May,May 2017
1,108,2017-05-01 00:16:04,2017-05-01 00:17:53,3275,Columbus Drive,40.718355,-74.038914,3187,Warren St,40.721124,-74.038051,26266,Subscriber,1963.0,1,May,May 2017
2,165,2017-05-01 00:29:59,2017-05-01 00:32:44,3267,Morris Canal,40.712419,-74.038526,3275,Columbus Drive,40.718355,-74.038914,26168,Subscriber,1988.0,1,May,May 2017
3,289,2017-05-01 00:30:47,2017-05-01 00:35:36,3209,Brunswick St,40.724176,-74.050656,3205,JC Medical Center,40.716540,-74.049638,26273,Subscriber,1986.0,2,May,May 2017
4,115,2017-05-01 00:41:14,2017-05-01 00:43:09,3185,City Hall,40.717733,-74.043845,3213,Van Vorst Park,40.718489,-74.047727,26293,Subscriber,1983.0,1,May,May 2017

In [8]:
# Check DF shape
summer_17_df.shape

(91599, 17)

In [9]:
# Check Dtypes
summer_17_df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                 float64
gender                       int64
month                       object
month year                  object
dtype: object

In [10]:
# Exclude nulls in birth year so I can turn the column into integers
summer_17_df_pre_reducd = summer_17_df[~summer_17_df["birth year"].isnull()]

summer_17_df_pre_reducd.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,month,month year
0,347,2017-05-01 00:03:19,2017-05-01 00:09:06,3276,Marin Light Rail,40.714584,-74.042817,3214,Essex Light Rail,40.712774,-74.036486,26177,Subscriber,1958.0,1,May,May 2017
1,108,2017-05-01 00:16:04,2017-05-01 00:17:53,3275,Columbus Drive,40.718355,-74.038914,3187,Warren St,40.721124,-74.038051,26266,Subscriber,1963.0,1,May,May 2017
2,165,2017-05-01 00:29:59,2017-05-01 00:32:44,3267,Morris Canal,40.712419,-74.038526,3275,Columbus Drive,40.718355,-74.038914,26168,Subscriber,1988.0,1,May,May 2017
3,289,2017-05-01 00:30:47,2017-05-01 00:35:36,3209,Brunswick St,40.724176,-74.050656,3205,JC Medical Center,40.716540,-74.049638,26273,Subscriber,1986.0,2,May,May 2017
4,115,2017-05-01 00:41:14,2017-05-01 00:43:09,3185,City Hall,40.717733,-74.043845,3213,Van Vorst Park,40.718489,-74.047727,26293,Subscriber,1983.0,1,May,May 2017

In [11]:
# Converts the values in the cleaned birth year column to integers
summer_17_df_pre_reducd["birth year"] = summer_17_df_pre_reducd["birth year"].astype(int)

summer_17_df_pre_reducd.head()

C:\Users\howar\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,month,month year
0,347,2017-05-01 00:03:19,2017-05-01 00:09:06,3276,Marin Light Rail,40.714584,-74.042817,3214,Essex Light Rail,40.712774,-74.036486,26177,Subscriber,1958,1,May,May 2017
1,108,2017-05-01 00:16:04,2017-05-01 00:17:53,3275,Columbus Drive,40.718355,-74.038914,3187,Warren St,40.721124,-74.038051,26266,Subscriber,1963,1,May,May 2017
2,165,2017-05-01 00:29:59,2017-05-01 00:32:44,3267,Morris Canal,40.712419,-74.038526,3275,Columbus Drive,40.718355,-74.038914,26168,Subscriber,1988,1,May,May 2017
3,289,2017-05-01 00:30:47,2017-05-01 00:35:36,3209,Brunswick St,40.724176,-74.050656,3205,JC Medical Center,40.716540,-74.049638,26273,Subscriber,1986,2,May,May 2017
4,115,2017-05-01 00:41:14,2017-05-01 00:43:09,3185,City Hall,40.717733,-74.043845,3213,Van Vorst Park,40.718489,-74.047727,26293,Subscriber,1983,1,May,May 2017

In [12]:
# Check Dtypes
summer_17_df_pre_reducd.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int32
gender                       int64
month                       object
month year                  object
dtype: object

In [13]:
# Check DF shape
summer_17_df_pre_reducd.shape

(84170, 17)

In [14]:
# Exclude birth years below 1920 and reheck shape
summer_17_df_reduced = summer_17_df_pre_reducd[summer_17_df_pre_reducd["birth year"] >= 1920]

summer_17_df_reduced.shape

(84157, 17)

In [15]:
# Create empty lists to load in genders and ages with the below loop
gender_list_2017 = []
age_list_2017 = []

# Loop through DF to add genders and ages to the above lists
for index, row in summer_17_df_reduced.iterrows():
    
    if row["gender"] == 0:
        gender_list_2017.append("Non-binary/ Unknown")
    elif row["gender"] == 1:
        gender_list_2017.append("Male")
    else:
        gender_list_2017.append("Female")
      
    
    age = 2019-row["birth year"]
    age_list_2017.append(age)
    
    
print(len(gender_list_2017), gender_list_2017[:10], len(age_list_2017), age_list_2017[:10])

84157 ['Male', 'Male', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Male'] 84157 [61, 56, 31, 33, 36, 33, 39, 35, 43, 40]

In [16]:
# Add ages and genders to DF
summer_17_df_reduced["Age"] = age_list_2017
summer_17_df_reduced["Gender"] = gender_list_2017

C:\Users\howar\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\howar\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [17]:
# Add a year column to signify the year and summer
summer_17_df_reduced["Year"] = "Summer 2017"

C:\Users\howar\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [18]:
# Add another integer year column just in case
summer_17_df_reduced["Year"] = 2017

C:\Users\howar\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [19]:
# Add a trip duration minutes column that converts seconds to minutes
import time

minutes_list_2017 = []

def convert(seconds):
    
    return time.strftime("%H:%M:%S", time.gmtime(seconds)) 



for duration in summer_17_df_reduced["tripduration"]:
    
    new_duration = convert(duration)
    
    minutes_list_2017.append(new_duration)


summer_17_df_reduced["Trip Duration"] = minutes_list_2017

C:\Users\howar\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [20]:
# Check DF
summer_17_df_reduced.head(10)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,...,bikeid,usertype,birth year,gender,month,month year,Age,Gender,Year,Trip Duration
0,347,2017-05-01 00:03:19,2017-05-01 00:09:06,3276,Marin Light Rail,40.714584,-74.042817,3214,Essex Light Rail,40.712774,...,26177,Subscriber,1958,1,May,May 2017,61,Male,2017,00:05:47
1,108,2017-05-01 00:16:04,2017-05-01 00:17:53,3275,Columbus Drive,40.718355,-74.038914,3187,Warren St,40.721124,...,26266,Subscriber,1963,1,May,May 2017,56,Male,2017,00:01:48
2,165,2017-05-01 00:29:59,2017-05-01 00:32:44,3267,Morris Canal,40.712419,-74.038526,3275,Columbus Drive,40.718355,...,26168,Subscriber,1988,1,May,May 2017,31,Male,2017,00:02:45
3,289,2017-05-01 00:30:47,2017-05-01 00:35:36,3209,Brunswick St,40.724176,-74.050656,3205,JC Medical Center,40.716540,...,26273,Subscriber,1986,2,May,May 2017,33,Female,2017,00:04:49
4,115,2017-05-01 00:41:14,2017-05-01 00:43:09,3185,City Hall,40.717733,-74.043845,3213,Van Vorst Park,40.718489,...,26293,Subscriber,1983,1,May,May 2017,36,Male,2017,00:01:55
5,285,2017-05-01 00:47:59,2017-05-01 00:52:44,3205,JC Medical Center,40.716540,-74.049638,3209,Brunswick St,40.724176,...,26273,Subscriber,1986,2,May,May 2017,33,Female,2017,00:04:45
6,163,2017-05-01 04:46:48,2017-05-01 04:49:32,3267,Morris Canal,40.712419,-74.038526,3183,Exchange Place,40.716247,...,29645,Subscriber,1980,1,May,May 2017,39,Male,2017,00:02:43
7,876,2017-05-01 05:02:30,2017-05-01 05:17:06,3207,Oakland Ave,40.737604,-74.052478,3185,City Hall,40.717733,...,29272,Subscriber,1984,2,May,May 2017,35,Female,2017,00:14:36
8,394,2017-05-01 05:17:09,2017-05-01 05:23:43,3202,Newport PATH,40.727224,-74.033759,3272,Jersey & 3rd,40.723332,...,26211,Subscriber,1976,1,May,May 2017,43,Male,2017,00:06:34
9,164,2017-05-01 05:31:28,2017-05-01 05:34:12,3214,Essex Light Rail,40.712774,-74.036486,3183,Exchange Place,40.716247,...,19318,Subscriber,1979,1,May,May 2017,40,Male,2017,00:02:44

In [21]:
# Export DF to CSV
summer_17_df_reduced.to_csv(r'C:\Users\howar\Desktop\Data Science Boot Camp\Homework Assignnments\15._Tableau_Citi_Bike_Analytics\Tableau-Citi-Bike-Analysis-preliminary-data-cleaning-\outpu_data_munging\cleaned_output\City_Bike_summer_2017.csv')

# Clean and mung the City Bike data for Summer of 2018

In [22]:
# Check DF
summer_18_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,month,month year
0,131,2018-05-01 07:29:57.5490,2018-05-01 07:32:08.6160,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29617,Subscriber,1966,1,May,May 2018
1,73,2018-05-01 08:13:58.2560,2018-05-01 08:15:11.9230,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29288,Subscriber,1975,1,May,May 2018
2,4929,2018-05-01 08:17:21.3110,2018-05-01 09:39:31.0770,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,29520,Customer,1969,0,May,May 2018
3,432,2018-05-01 08:25:58.7150,2018-05-01 08:33:10.8960,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,29595,Subscriber,1973,1,May,May 2018
4,432,2018-05-01 08:28:09.9160,2018-05-01 08:35:22.1440,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,33623,Subscriber,1959,1,May,May 2018

In [23]:
# Check DF shape
summer_18_df.shape

(117661, 17)

In [24]:
# Check Dtypes
summer_18_df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
month                       object
month year                  object
dtype: object

In [25]:
# Exclude birth years below 1920 and reheck shape
summer_18_df_reduced = summer_18_df[summer_18_df["birth year"] >= 1920]

summer_18_df_reduced.shape

(117626, 17)

In [26]:
# Create empty lists to load in genders and ages with the below loop
gender_list_2018 = []
age_list_2018 = []

# Loop through DF to add genders and ages to the above lists
for index, row in summer_18_df_reduced.iterrows():
    
    if row["gender"] == 0:
        gender_list_2018.append("Non-binary/ Unknown")
    elif row["gender"] == 1:
        gender_list_2018.append("Male")
    else:
        gender_list_2018.append("Female")
      
    
    age = 2019-row["birth year"]
    age_list_2018.append(age)
    
    
print(len(gender_list_2018), gender_list_2018[:10], len(age_list_2018), age_list_2018[:10])

117626 ['Male', 'Male', 'Non-binary/ Unknown', 'Male', 'Male', 'Non-binary/ Unknown', 'Non-binary/ Unknown', 'Male', 'Male', 'Female'] 117626 [53, 44, 50, 46, 60, 50, 50, 34, 46, 65]

In [27]:
# Add ages and genders to DF
summer_18_df_reduced["Age"] = age_list_2018
summer_18_df_reduced["Gender"] = gender_list_2018

C:\Users\howar\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\howar\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [28]:
# Add a year column to signify the year and summer
summer_18_df_reduced["Year"] = "Summer 2018"

C:\Users\howar\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [29]:
# Add another integer year column just in case
summer_18_df_reduced["Year"] = 2018

C:\Users\howar\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [30]:
# Add a trip duration minutes column that converts seconds to minutes
import time

minutes_list_2018 = []

def convert(seconds):
    
    return time.strftime("%H:%M:%S", time.gmtime(seconds)) 



for duration in summer_18_df_reduced["tripduration"]:
    
    new_duration = convert(duration)
    
    minutes_list_2018.append(new_duration)


summer_18_df_reduced["Trip Duration"] = minutes_list_2018

C:\Users\howar\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [31]:
# Export DF to CSV
summer_18_df_reduced.to_csv(r'C:\Users\howar\Desktop\Data Science Boot Camp\Homework Assignnments\15._Tableau_Citi_Bike_Analytics\Tableau-Citi-Bike-Analysis-preliminary-data-cleaning-\outpu_data_munging\cleaned_output\City_Bike_summer_2018.csv')

# Clean and mung the City Bike data for Summer of 2019

In [32]:
# Check DF
summer_19_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,month,month year
0,311,2019-05-01 00:07:36.4670,2019-05-01 00:12:47.6350,3185,City Hall,40.717733,-74.043845,3279,Dixon Mills,40.721630,-74.049968,29224,Subscriber,1988,1,May,May 2019
1,538,2019-05-01 00:08:29.2840,2019-05-01 00:17:27.9410,3681,Grand St,40.715178,-74.037683,3203,Hamilton Park,40.727596,-74.044247,26170,Subscriber,1974,1,May,May 2019
2,178,2019-05-01 00:39:36.4750,2019-05-01 00:42:34.9640,3638,Washington St,40.724294,-74.035483,3639,Harborside,40.719252,-74.034234,29517,Subscriber,1988,1,May,May 2019
3,317,2019-05-01 01:24:28.0220,2019-05-01 01:29:45.5730,3206,Hilltop,40.731169,-74.057574,3212,Christ Hospital,40.734786,-74.050444,29606,Subscriber,1986,2,May,May 2019
4,354,2019-05-01 01:54:39.6660,2019-05-01 02:00:34.1750,3639,Harborside,40.719252,-74.034234,3202,Newport PATH,40.727224,-74.033759,26224,Customer,1986,2,May,May 2019

In [33]:
# Check DF shape
summer_19_df.shape

(119311, 17)

In [34]:
# Check Dtypes
summer_19_df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
month                       object
month year                  object
dtype: object

In [35]:
# Exclude birth years below 1920 and reheck shape
summer_19_df_reduced = summer_19_df[summer_19_df["birth year"] >= 1920]

summer_19_df_reduced.shape

(119241, 17)

In [36]:
# Create empty lists to load in genders and ages with the below loop
gender_list_2019 = []
age_list_2019 = []

# Loop through DF to add genders and ages to the above lists
for index, row in summer_19_df_reduced.iterrows():
    
    if row["gender"] == 0:
        gender_list_2019.append("Non-binary/ Unknown")
    elif row["gender"] == 1:
        gender_list_2019.append("Male")
    else:
        gender_list_2019.append("Female")
      
    
    age = 2019-row["birth year"]
    age_list_2019.append(age)
    
    
print(len(gender_list_2019), gender_list_2019[:10], len(age_list_2019), age_list_2019[:10])

119241 ['Male', 'Male', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male', 'Male', 'Female'] 119241 [31, 45, 31, 33, 33, 33, 40, 32, 52, 35]

In [37]:
# Add ages and genders to DF
summer_19_df_reduced["Age"] = age_list_2019
summer_19_df_reduced["Gender"] = gender_list_2019

C:\Users\howar\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\howar\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [38]:
# Add a year column to signify the year and summer
summer_19_df_reduced["Year"] = "Summer 2019"

C:\Users\howar\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [39]:
# Add another integer year column just in case
summer_19_df_reduced["Year"] = 2019

C:\Users\howar\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [40]:
# Add a trip duration minutes column that converts seconds to minutes
import time

minutes_list_2019 = []

def convert(seconds):
    
    return time.strftime("%H:%M:%S", time.gmtime(seconds)) 



for duration in summer_19_df_reduced["tripduration"]:
    
    new_duration = convert(duration)
    
    minutes_list_2019.append(new_duration)


summer_19_df_reduced["Trip Duration"] = minutes_list_2019

C:\Users\howar\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [41]:
# Export DF to CSV
summer_19_df_reduced.to_csv(r'C:\Users\howar\Desktop\Data Science Boot Camp\Homework Assignnments\15._Tableau_Citi_Bike_Analytics\Tableau-Citi-Bike-Analysis-preliminary-data-cleaning-\outpu_data_munging\cleaned_output\City_Bike_summer_2019.csv')

# Create master DF and export

In [42]:
# Concat all DFs to make a master DF
all_summers_17_through_19_df = pd.concat([summer_17_df_reduced, summer_18_df_reduced, summer_19_df_reduced])

all_summers_17_through_19_df.shape

(321024, 21)

In [43]:
# Check DF
all_summers_17_through_19_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,...,bikeid,usertype,birth year,gender,month,month year,Age,Gender,Year,Trip Duration
0,347,2017-05-01 00:03:19,2017-05-01 00:09:06,3276,Marin Light Rail,40.714584,-74.042817,3214,Essex Light Rail,40.712774,...,26177,Subscriber,1958,1,May,May 2017,61,Male,2017,00:05:47
1,108,2017-05-01 00:16:04,2017-05-01 00:17:53,3275,Columbus Drive,40.718355,-74.038914,3187,Warren St,40.721124,...,26266,Subscriber,1963,1,May,May 2017,56,Male,2017,00:01:48
2,165,2017-05-01 00:29:59,2017-05-01 00:32:44,3267,Morris Canal,40.712419,-74.038526,3275,Columbus Drive,40.718355,...,26168,Subscriber,1988,1,May,May 2017,31,Male,2017,00:02:45
3,289,2017-05-01 00:30:47,2017-05-01 00:35:36,3209,Brunswick St,40.724176,-74.050656,3205,JC Medical Center,40.716540,...,26273,Subscriber,1986,2,May,May 2017,33,Female,2017,00:04:49
4,115,2017-05-01 00:41:14,2017-05-01 00:43:09,3185,City Hall,40.717733,-74.043845,3213,Van Vorst Park,40.718489,...,26293,Subscriber,1983,1,May,May 2017,36,Male,2017,00:01:55

In [44]:
# Export master DF to CSV
all_summers_17_through_19_df.to_csv(r'C:\Users\howar\Desktop\Data Science Boot Camp\Homework Assignnments\15._Tableau_Citi_Bike_Analytics\Tableau-Citi-Bike-Analysis-preliminary-data-cleaning-\outpu_data_munging\cleaned_output\City_Bike_summer_2017_trough_2019_final.csv')

In [45]:
# Try export again for corrupted file
all_summers_17_through_19_df.to_csv(r'C:\Users\howar\Desktop\Data Science Boot Camp\Homework Assignnments\15._Tableau_Citi_Bike_Analytics\City_Bike_summer_2017_trough_2019_final_2.csv')